body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars and prevent them from appearing */
}

canvas { display: block; } /* remove extra space below canvas */

#adminPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(200, 200, 200, 0.9);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    z-index: 10;
    text-align: center;
}

.hidden {
    display: none;
}

#abilities button, #roleSelection button, #secretRoleSelection button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#roleDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(200, 200, 200, 0.9);
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
    z-index: 10;
    font-family: sans-serif;
}

#roleDisplay p {
    margin: 5px 0;
}